
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hoş Geldiniz!</h1>
<div class="col-md-12">
    <img src="~/img/ytulogo.png" alt="Yıldız Teknik Üniversitesi" height="300" width="300" align="middle">
</div>

