
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <center>
        <h1>Hoş Geldiniz!</h1>
        <div class="col-md-6">
            <img src="~/img/ytulogo.png" alt="Yıldız Teknik Üniversitesi" height="500" width="500" align="middle">
        </div>
    </center>
</div>

